.root {
    -fx-background-color: #a09898;
}

.button {
    -fx-background-color: #156AD6;
    -fx-background-radius: 20px;
    -fx-text-fill: black;    
    -fx-border-radius: 42px;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #0F53AD;
}

.closeButton {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-text-fill: black;    
    -fx-border-radius: 42px;
    -fx-font-size: 14px;
}

.closeButton:hover {
    -fx-background-color: #E2E2E2;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}